<div ng-include src="'partials/nav.html'"></div>

<div>
    

<h1 align = "center">Register for Roomly</h1>
<div class="container">
    <div class="row">
        
        <div class="col-md-6 col-md-offset-3">
        <div class = "panel panel-login">
        <div class ="panel-heading">
            <form class="form-inline" role="form" ng-submit="vm.signup()">
                <fieldset>
                    <legend>Register User</legend>
                    <div class="panel-body">
                    <div class="row">
                    <div class="form-group">
                        <h3>Username</h3>
                        <input type="text" class="form-control" ng-model="vm.username" placeholder="Type your username..." required>
                    </div>
                    <div class="row">
                    <div class ="form-group">
                        <h3>Email Address</h3>
                          <input type="text" class="form-control" ng-model="vm.email_address" placeholder="Type your Email..." required>
                    </div>
                    <div class="row">
                    <div class="form-group">
                        <h3>Password</h3>
                        <input type="password" class="form-control" ng-model="vm.password" placeholder="Type your password..." required>
                    </div>
                    <div class="row">
                    <div class="form-group">
                        <h3>Confirm password</h3>
                        <input type="password" class="form-control" ng-model="vm.check_password" placeholder="Type your password..." required>
                    </div>
                    </div>
                    <div class="row">
                        </br>
                        <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit" class="btn btn-primary" value="Create Account"/>
                        </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>
</div>
    </br>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div ng-show="failed_register" class="alert alert-danger">
                {{vm.failed_register}}
            </div>
        </div>
    </div>

</div>
</div>